 <div class="container-fluid">
    <div class="row">

       <div class="masonry-grid">
          <% @articles.reverse.each do |article| %>
            <% image_url = article.photo.present? ? cl_image_path(article.photo.key) : 'https://imagenes.laestrella.com.pa/files/content_image/uploads/2020/08/12/5f3476619cee1.jpeg' %>
            <div class="masonry-item">
              <%= link_to article do %>
                <img src="<%= image_url %>" alt="<%= article.title %>">
              <% end %>
            </div>
          <% end %>
        </div>

    </div>

  </div>
