// For 280px to 390px wide screens
@media (min-width: 280px) and (max-width: 390px) {
  .horizontal-card {
    box-shadow: 0px 1px 4px #ccc;
    border-radius: 3px;

    &:hover {
      box-shadow: 0px 1px 7px #ccc;
    }

    .image {
      width: 100%;
      min-height: 34vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .article-data {
      font-size: 12px;
    }
  }

  .horizontal-card-md {
    box-shadow: 0px 1px 4px #ccc;
    border-radius: 3px;

    &:hover {
      box-shadow: 0px 1px 7px #ccc;
    }

    .image {
      width: 100%;
      min-height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .article-data {
      font-size: 12px;
    }
  }
}

// For 390px to 530px wide screens
@media (min-width: 390px) and (max-width: 530px) {
  .horizontal-card {
    box-shadow: 0px 1px 4px #ccc;
    border-radius: 3px;

    &:hover {
      box-shadow: 0px 1px 7px #ccc;
    }

    .image {
      width: 100%;
      min-height: 87vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .article-data {
      font-size: 12px;
    }
  }
}
