.header {
  background-color: white;
  position: fixed; // This establishes a new stacking context.
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999; // High value to ensure it's on top of other elements.

  button#menu-button {
    color: black;
    background: transparent;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    position: relative; // Ensure button is positioned for z-index to take effect.
    z-index: 10000; // Even higher to stack above anything within the header.
  }

  nav#mobile-menu {
    background-color: white;
    padding: 2rem;
    text-align: center;
    position: relative; // Ensure nav is positioned for z-index to take effect.
    z-index: 9998; // Below the button but above other content.
    display: none; // Start with the menu hidden.

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: 1rem;
    }

    a {
      color: black;
      text-decoration: none;
      font-size: 1.5rem;
    }
  }

  /* Media queries to handle the responsiveness */
  @media only screen and (max-width: 768px) {

    button#menu-button {
      display: block; // Show on mobile devices
    }

    nav#mobile-menu {
      // No 'display' rule here; it's controlled by the 'menu-open' class
    }
  }

  @media only screen and (min-width: 769px) {
    button#menu-button {
      display: none; // Hide on larger screens
    }

    nav#mobile-menu {
      display: none; // Hide on larger screens
    }
  }
}

/* Styles for when the menu is open */
nav#mobile-menu.menu-open {
  display: block;
  z-index: 9998; // This ensures that the menu is visible and stacks correctly.
  // The background color was just for testing; you can remove it if not needed.
}


@media (min-width: 768px) and (max-width: 1600px) {
 .header {
  display: none;
 }

}
