@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "pages/index";
@import "components/index";
@import "skins/index";

* {
  box-sizing: border-box;
}
body {
  padding-top: 34px;
  background-color: #ffffff;
  font-family: 'Lexend';
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #333333;
}
a:hover {
  color: #10303a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
}

section {
  padding-left: 16px;
  padding-right: 16px;
  height: 100vh;

  .showroom {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: end;

    .art-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      width: 20%;
      min-height: 100vh;
      overflow-y: hidden;
      left: 0;
      position:fixed;

      h1 {
        font-size: 1.6em;
        a {
          text-decoration: none;
        }
      }
    }

    .art-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      position: absolute;
      margin-right: 142px;
      }

      .gallery-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0;


      }
    }
  }
